.sidebar__option {
    list-style: none;
    padding: 0.5rem 2rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    color: white;
    border: none;
}

.sidebar__option:hover,
.sidebar__option.selected {
    background-color: rgb(29, 29, 29);
}


.sidebar__option * {
    margin-right: 0.5rem;
}


.sidebar__option svg {
    font-size: 1.2rem;
}