.dashboardPage__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    top: 5rem;
}

.dashboardPage__widgetContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0.8rem;
    grid-row-gap: 0.8rem;
    width: 100%;
    padding: 1rem 2rem;
}
